/* bos-sizing */

* {
    box-sizing: border-box;
}


/* all tag reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
nav,
header,
div,
body,
span,
article,
section,
aside,
footer {
    margin: 0;
    padding: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
