header {
    margin: 1vh auto;
}

h1 {
    text-align: center;
    border-bottom: 1px solid rgba(195, 195, 195, 0.93);
    width: 70vw;
    margin: auto;
}

.container {
    height: 20vh;
    width: 90vw;
    margin: 0px auto;
    border: 1px solid #337ab7;
    border-radius: 4px;
}

.panel {
    height: 100%;
    border-color: #337ab7;
    width: 100%;
}

.panel-heading {
    height: 75%;
    /*    margin-bottom: 20px;*/
    background-color: #337ab7;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    color: #fff;
    display: flex;
}

.panel-heading .image {
    height: 100%;
    width: 35%;
}

.image .fa {
    height: 100%;
    width: 100%;
    line-height: 1.3em;
    text-align: center;
}

.panel-heading .title {
    width: 65%;
}

.title .huge {
    height: 70%;
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
    line-height: 1.6em;
}

.title .text {
    height: 30%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.panel-footer {
    height: 25%;
    padding: 0px 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #337ab7;
}

.panel-footer .pull-left {
    font-size: 1.5em;
    display: block;
    height: 100%;
    line-height: 1.5em;
    margin-left: 1em;
}

.panel-footer .pull-right {
    font-size: 1em;
    height: 100%;
    display: block;
    margin: auto;
}

.static-image {
    height: 55vh;
    width: 90vw;
}

footer {
    height: 5vh;
    line-height: 5vh;
    background-color: #e6e6e3;
    width: 90vw;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 12px;
    text-align: right;
}